.block {
  --block-inline-padding: 20px;
  width: 100%;
  height: 568px;
  padding-inline: var(--block-inline-padding);
  position: relative;

  @media (min-width: $md) {
    --block-horizontal-line-pos: 50%;
    --block-vertical-line-pos: 44.44%;
    --block-circle-pos: 28.2%;
    height: unset;
    width: 1440px;
    aspect-ratio: 4 / 3;
    max-width: 100vw;
    border: 1px solid var(--color-divider);
    background:
      linear-gradient(
        to left,
        transparent var(--block-horizontal-line-pos),
        var(--color-divider) var(--block-horizontal-line-pos),
        transparent calc(var(--block-horizontal-line-pos) + 1px)
      ),
      linear-gradient(
        to bottom,
        transparent var(--block-vertical-line-pos),
        var(--color-divider) var(--block-vertical-line-pos),
        transparent calc(var(--block-vertical-line-pos) + 1px)
      ),
      radial-gradient(
        circle at var(--block-horizontal-line-pos)
          var(--block-vertical-line-pos),
        transparent calc(var(--block-circle-pos) - 0.5px),
        var(--color-divider) var(--block-circle-pos),
        transparent calc(var(--block-circle-pos) + 0.5px)
      );
  }

  @media (min-width: $lg) {
    --block-inline-padding: 80px;
    height: unset;
    margin-left: 320px;
  }

  .cardlist {
    position: absolute;
    width: 100%;
    top: 292px;
    left: 0;

    @media (min-width: $sm) {
      position: initial;
      top: unset;
      left: unset;
    }
  }
}
