.block {
  --block-padding-inline: 20px;
  width: 100%;
  height: 568px;
  padding-inline: var(--block-padding-inline);
  position: relative;

  @media (min-width: $md) {
    --block-vertical-line-placement: 50%;
    --block-horizontal-line-placement: 479px;
    --circle-container-side: 530px;
    --circle-translate: calc(-0.5 * (var(--circle-container-side)));

    height: 1080px;
    width: 1440px;
    border: 1px solid var(--color-divider);
    background:
      linear-gradient(
        to left,
        transparent var(--block-vertical-line-placement),
        var(--color-divider),
        transparent calc(var(--block-vertical-line-placement) + 1px)
      ),
      linear-gradient(
        to bottom,
        transparent var(--block-horizontal-line-placement),
        var(--color-divider),
        transparent calc(var(--block-horizontal-line-placement) + 1px)
      );
  }

  @media (min-width: $lg) {
    --block-padding-inline: 80px;
    height: 1080px;
    margin-left: 320px;
  }

  .cardlist {
    position: absolute;
    width: 100%;
    top: 292px;
    left: 0;

    @media (min-width: $md) {
      top: 840px;
    }
  }
}
