.block {
  --block-padding-inline: 20px;
  width: 100%;
  height: 568px;
  padding-inline: var(--block-padding-inline);
  position: relative;

  @media (min-width: $md) {
    --block-vertical-line-placement: 50%;
    --block-horizontal-line-placement: 479px;

    height: unset;
    width: 1440px;
    aspect-ratio: 4 / 3;
    max-width: 100vw;
    border: 1px solid var(--color-divider);
    background:
      linear-gradient(
        to left,
        transparent var(--block-vertical-line-placement),
        var(--color-divider),
        transparent calc(var(--block-vertical-line-placement) + 1px)
      ),
      linear-gradient(
        to bottom,
        transparent var(--block-horizontal-line-placement),
        var(--color-divider),
        transparent calc(var(--block-horizontal-line-placement) + 1px)
      );
  }

  @media (min-width: $lg) {
    --block-padding-inline: 80px;
    height: unset;
    margin-left: 320px;
  }

  .cardlist {
    position: absolute;
    width: 100%;
    top: 292px;
    left: 0;

    @media (min-width: $sm) {
      position: initial;
      top: unset;
      left: unset;
    }
  }
}
