.cardlist {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.divider {
  margin-inline: var(--block-padding-inline);
}

.swiper {
  min-height: 200px;
  position: relative;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  translate: 0 -50%;
}
