* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #42567a;
  --color-blue: #3877ee;
  --color-pink: #f178b6;
  --color-divider: #c7cdd9;
  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  src: url("assets/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("assets/PTSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("assets/BebasNeue-Regular.ttf");
  font-weight: 700;
}

body {
  font-family: "PT Sans", sans-serif;
  min-width: 320px;
}
