.pagecontrols {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  &_disabled {
    pointer-events: none;
  }

  @media (min-width: $lg) {
    padding-top: 42px;
    padding-bottom: 35px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media (min-width: $lg) {
    gap: 20px;
  }
}

.counter {
  @media (min-width: $sm) {
    font-size: 14px;
  }
}

.arrows {
  display: flex;
  gap: 8px;
  @media (min-width: $lg) {
    gap: 20px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  align-self: center;
}

.circle {
  --circle-container-side: 530px;
  position: absolute;
  // left: 50%;
  // top: 214px;
  // translate: -50% 0;
  left: var(--block-horizontal-line-pos);
  top: var(--block-vertical-line-pos);
  // translate: -50% -50%;
  translate: calc(-0.5 * (var(--circle-container-side)))
    calc(-0.5 * (var(--circle-container-side)));
}
