.pagecontrols {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  &_disabled {
    pointer-events: none;
  }

  @media (min-width: $lg) {
    padding-top: 42px;
    padding-bottom: 35px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media (min-width: $lg) {
    gap: 20px;
  }
}

.counter {
  @media (min-width: $sm) {
    font-size: 14px;
  }
}

.arrows {
  display: flex;
  gap: 8px;
  @media (min-width: $lg) {
    gap: 20px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  align-self: center;
}

.circle {
  --circle-container-side: 530px;
  --circle-translate: calc(-0.5 * (var(--circle-container-side)));
  position: absolute;
  left: var(--block-vertical-line-placement);
  top: var(--block-horizontal-line-placement);
  translate: var(--circle-translate) var(--circle-translate);
  pointer-events: none;
}
